
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    text-align: center;
       
}

nav{
    background-color: rgb(59, 59, 59);
    text-align: center;
    height: 100px;
}
nav ul li{
    display: inline-block;
    text-decoration: none;

   
}
nav ul img{
    margin-top: 15px;
    margin-right:30px;            
  
}

ul li {
  margin-right: 50px;
}

section{
    text-align: center;
    padding: 2px;
    
}
button{
    font-family: serif;
    color: rgb(26, 25, 23);
}
p{
  font-family: Verdana;  
margin: 100px;
}
footer{
    clear: both;
    text-align: center;
    background-color: darkslategray;
}